/* Global styles */
* {
    color: #EEEEEE;
}

html {
    background-color: #222831;
}

/* Header styles */
header {
    background-color: #393E46;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.menu ul {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #FF204E;
    font-weight: bold;
    /*equivalente a 700*/
}

a {
    position: relative;
    /* Ensure proper positioning of pseudo-elements */
    text-decoration: none;
    /* Remove underline from links by default */
}

/* Main content styles */
main {
    position: absolute;
    margin-top: 100px;
    margin-left: 90px;
    margin-right: 20%;
    text-align: left;
    min-height: calc(100vh - 100px);
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
    max-width: 600px;
}

p {
    margin-bottom: 20px;
    margin-top: 20px;
}

p.bio-short {
    font-weight: 900;
    font-size: 30px;
}

select {
    background-color: black;
}

/* Link styles */
a[href='#adaviladev'] {
    font-size: 24px;
    /* Adjust the font size as desired */
}

a:not([href='#adaviladev']):before,
a:not([href='#adaviladev']):after {
    content: '';
    /* Required for pseudo-elements */
    position: absolute;
    /* Position the lines */
    left: 0;
    /* Align the lines with the left edge of the link */
    width: 100%;
    /* Ensure the lines span the entire width of the link */
    height: 2px;
    /* Set the height of the lines */
    background-color: #FF204E;
    /* Color of the lines */
    transition: transform 0.3s ease;
    /* Add transition for smooth effect */
}

a:not([href='#adaviladev']):before {
    top: -4px;
    /* Position the line above the text */
    transform: scaleX(0);
    /* Initially hide the line */
}

a:not([href='#adaviladev']):after {
    bottom: -4px;
    /* Position the line below the text */
    transform: scaleX(0);
    /* Initially hide the line */
}

a:not([href='#adaviladev']):hover:before,
a:not([href='#adaviladev']):hover:after {
    transform: scaleX(1);
    /* Show the lines on hover */
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #393E46;
    padding-left: 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Social media styles */
.menu {
    display: flex;
    justify-content: space-between;
    /* Align items with space between */
    align-items: center;
    /* Center items vertically */
}

.social-center {
    display: flex;
    align-items: center;
    /* Center items vertically */
    margin-top: 10px;
}

.social {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social li {
    margin-left: 10px;
    /* Adjust spacing between social icons */
}

.social li:first-child {
    margin-left: 0;
    /* Remove left margin for the first social icon */
}

/* Text size selector styles */
.text-size-selector {
    list-style: none;
    margin: 0;
    padding: 0;
}

.text-size-selector li {
    display: inline-block;
    margin-right: 20px;
    /* Adjust spacing between items */
}

.space {
    margin-bottom: 50px;
}

@media screen and (width <= 600px) {
    main {
        margin-left: 30px;
    }
  }