/* Font Faces */
@font-face {
    font-family: Young Serif;
    src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Outfit;
    src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
    font-weight: 400;
    font-style: normal;
}

/* Reset Styles */
html {
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    background-color: hsl(30, 54%, 90%);
}

/* Content Container */
.content-container {
    width: 70vw;
    margin: 10vh auto;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    padding: 5vw;
}

/* Preparation Time Container */
.prep-time-container {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 1vh 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.prep-time-container p {
    font-family: "Outfit";
    font-size: calc(8px + 1vw);
    font-weight: bold;
    color: hsl(332, 51%, 32%);
    margin-top: 1vh;
}

/* Images */
img {
    display: block;
    width: 100%;
    border-radius: 8px;
    margin: 0 auto;
}

/* Headings */
h1 {
    font-family: "Young Serif";
    font-size: calc(14px + 2vw);
    font-weight: normal;
    color: black;
}

h2 {
    font-family: "Young Serif";
    font-size: calc(6px + 2vw);
    font-weight: normal;
    color: hsl(14, 45%, 36%);
}

/* Paragraphs */
p {
    font-family: "Outfit";
    font-size: calc(5px + 1vw);
    color: hsl(30, 10%, 34%);
}

/* Horizontal Rule */
hr {
    color: hsl(30, 18%, 87%);
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-top: 1px solid;
}   

/* Lists */
ul, ol {
    padding-left: 3vw;
}

ul li {
    list-style-type: disc;
}

ul li::marker, ol li::marker {
    color: hsl(332, 51%, 32%);
    font-weight: bold;
}


li {
    font-family: "Outfit";
    font-size: calc(6px + 1vw);
    color: hsl(30, 10%, 34%);
}

/* Text Spacing */
h2, h3, p, li {
    margin-bottom: 1vh;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid hsl(30, 2%, 80%);
    text-align: left;
}

th {
    font-family: "Outfit";
    color: hsl(30, 10%, 34%);
    font-size: calc(6px + 1vw);
    font-weight: normal;
}

td {
    font-family: "Outfit";
    color: hsl(14, 45%, 36%);
    font-size: calc(6px + 1vw);
    font-weight: bold;   
}