/* Header */
header {
    z-index: 1000;
    background-color: black;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: #ECF0F1;
    box-shadow: 0 0 25px 0 black;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a:link {
    text-decoration: none;
    color: #FF204E;
}

header li a:hover {
    color: #ECF0F1;
}

header li a:visited {
    color: #ECF0F1;
}

/* Body */
body {
    background-color: #BDC3C7;
}

/* Hero Section */
#hero {
    background-image: url(images/PSX_20220910_131055.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    color: black;
    padding-top: 100px;
    font-weight: 400;
    /* text-shadow: -12px 8px 5px rgba(0,0,0,0.25); */
}

#hero img {
    display: block;
    width: 100%;
    height: auto;
}

#hero p {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* About Section */
#about {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
    font-weight: 400;
    text-shadow: -12px 8px 5px rgba(0,0,0,0.25);
    margin-top: 5px; /* Add margin-top to create space between sections */
}

.section-container-hero {
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.section-container-about {
    width: 50%;
}

.section-container-about h2 {
    margin-bottom: 40px;
}

.section-container-about p {
    margin-bottom: 30px;
}

#about p {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Common Styles */
h1, h2, h3, p {
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

h1 {
    font-size: 70px;
    font-family: "Lato", sans-serif;
}

h2 {
    font-family: "Lato", sans-serif;
}

h3 {
    font-size: 60px;
}

/* Section Container */
.section-container {
    width: 55%;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}


/* Responsive Design */

@media screen and (max-width: 480px) {
    /* Adjust styles for screens up to 480px wide (smaller smartphones) */

    header * {
        display: flex;
        justify-content: flex-end;
        max-width: 50%;
    }

    .section-container-hero {
        min-height: 100%;
        width: 95%;
        text-align: left;
    }
    #hero .section-container-hero h1 {
        font-size: 30px; /* Adjust the font size as needed */

    }
    #hero .section-container-hero h2 {
        font-size: 20px; /* Adjust the font size as needed */
    }
    #hero .section-container-hero p {
        font-size: 20px; /* Adjust the font size as needed */
    }
    .section-container-about {  
        width: 90%;
        padding-bottom: 30px;
    }
    
    #about .section-container-about p {
        font-size: 14px; /* Adjust the font size as needed */
    }
    #about .section-container-about h2 {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}