body {
    text-align: center;
    background-color: hsl(212, 45%, 89%);
}

.container-content {
    background-color: white;
    width: 250px;
    padding: 10px;
    margin: 10% auto;
    border-radius: 10px;
    font: 15px "Outfit", sans-serif;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

p {
    margin-left: 5px;
    margin-right: 5px;
}

p.text-1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p.text-2 {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.attribution {
    text-align: center;
    width: 90%;
    max-width: 250px;
    margin: 5% auto;
}

@media only screen and (max-width: 600px) {
    .attribution {
        width: 100%;
        max-width: 375px;
        margin: 5% auto;
    }
}
