/* Header */
header {
    background-color: black;
    color: #ECF0F1;
    font-weight: 700;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    color: #FF204E;
    padding: 10px 20px;
}

/* Body */
body {
    background-color: #BDC3C7;
    margin-top: 60px; /* Adjust for header height */
}

/* Hero Section */
.section-container-hero {
    background-image: url(../images/PSX_20220910_131055.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-container-hero h1 {
    font-size: 3rem;
    margin: 0;
}

.section-container-hero h2,
.section-container-hero p {
    margin: 10px 0;
}

.section-container-hero p {
    max-width: 80%;
}

/* About Section */
.section-container-about {
    color: #ECF0F1;
    background-color: black;
    padding: 20px;
}

.section-container-about h2 {
    font-size: 2rem;
}

.section-container-about p {
    max-width: 100%;
    margin: 10px 0;
}

/* Projects Section */
.section-container-projects {
    background-color: gray;
    padding: 20px;
}

.top-projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-1, .top-2, .top-3 {
    border: solid black;
    width: 150px;
    height: 150px;
    padding: 1px;
}

/* Contact Section */
.section-container-contact {
    background-color: white; /* Change color as needed */
    padding: 20px;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
