* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: black;
    color: #ECF0F1;
    font-weight: 700;
    font-size: 20px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    box-shadow: -3px 10px 19px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 10px 19px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 10px 19px 10px rgba(0,0,0,0.75);
    z-index: 1000;
    display: flex;
    justify-content: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    color: #FF204E;
    padding: 10px 1vw;
}

/* Body */
body {
    background-color: #BDC3C7;
    margin-top: 60px;
    /* Adjust for header height */
    margin: 0;
    padding: 0;
}



/* Hero Section */
.section-container-hero {
    background-image: url(../images/PSX_20220910_131055.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.section-container-hero h2,
p {
    margin-bottom: 1.5vw;
}

.section-container-hero h1 {
    font-size: calc(24px + 1.0vw);
    margin-top: calc(60px + 5vw);
    margin-bottom: 1vw;
}

.section-container-hero h2 {
    font-size: calc(16px + 1.0vw);
}

.section-container-hero p {
    font-size: calc(12px + 1.0vw);
}



.section-container-hero p {
    max-width: 80%;
}

/* About Section */
.section-container-about {
    color: #ECF0F1;
    background-color: black;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: fit-content;
}

.section-container-about h2 {
    font-size: calc(16px + 1vw);
    margin-bottom: calc(20px + 1.5vw);
}

.section-container-about p {
    display: block;
    font-size: calc(16px + 0.3vw);
    width: calc(60% + 10vw);
    margin: 10px 0;
}

/* Projects Section */

.top-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* Adjust gap as needed */
    padding: 0 10px;
    /* Adjust padding as needed */
}

.top {
    width: 250px;
    /* Fixed width */
    height: 250px;
    /* Fixed height */
    background-color: #ffffff;
    /* Placeholder color */
    text-align: center;
    /* Center content */
    line-height: 250px;
    /* Vertical centering */
    font-size: 1.2em;
    /* Adjust font size as needed */
    border: solid black;
    margin: 10px;
    /* Adjust margin as needed */
    box-shadow: -3px 10px 19px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 10px 19px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 10px 19px 10px rgba(0,0,0,0.75);
}

.section-container-projects {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: fit-content;
    min-height: 100vh;
}

.section-container-projects h2,
.section-container-projects p {
    margin: 10px 0;
}

.section-container-projects h2 {
    font-size: calc(16px + 1vw);
    margin-bottom: calc(20px + 1.5vw);
    text-align: center;
}

.section-container-projects p {
    font-size: calc(12px + 1.0vw);
    text-align: center;
}


/* Contact Section */
.section-container-contact {
    background-color: rgb(220, 220, 220);
    /* Change color as needed */
    height: 90vh;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-container-contact h2 {
    text-align: center;
    font-size: calc(16px + 1vw);
    margin-bottom: calc(20px + 1.5vw);
}

/* Style for the form */
form {
    width: 80vw;
    max-width: 600px;
    /* Adjust as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: #f9f9f9;
}

/* Style for form inputs */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Style for submit button */
button[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #FF204E;
}



/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}